@import '../../globalStyles/colors.scss';

.header {
    background-color: $black;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .linkLogo {
        height: 30px;
        transition: height 0.2s ease-out;
        &.shrink {
            height: 25px;
        }
    }
}