@import '../../globalStyles/colors.scss';

.footer {
    background-color: $gray-dark;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    color: $white;

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }
}